thead {
    display: none;
}

.roast {
    font-size: 18px;
    color: #888888;
}


table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.centered {
    text-align: center;
}

.navbar-expand

.card {
    margin-top: 50px; !important;
}