thead {
    display: none;
}



table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.centered {
    text-align: center;
}

.navbar-expand

.card {
    margin-top: 50px; !important;
}

#jumbotron {
    background-image: url("img/coffee-1983332-1280.jpg");
    background-color: #cccccc;
}


.jumbotron-text {
    color: white;
}