thead {
    display: none;
}

tr id{
    display: none;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.centered {
    text-align: center;
}

.navbar-expand